<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">

        <title>Manchester Kiosk</title>
    </head>

    <body>
        <div class="container mt-5">
            <div class="row">

                <!-- This is the map -->
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header">
                            Manchester Map
                        </div>
                        <div class="card-body">
                            <img class="img-fluid" src="https://maps.googleapis.com/maps/api/staticmap?center=53.4801822,-2.2480858&zoom=13&size=2000x1000&maptype=roadmap&key=AIzaSyCUi8Rq1AKVzfAcHXI5Oy0sBKaK18JCps8">
                        </div>
                    </div>
                </div>

                <!-- This is the map sidebar -->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header">
                            Locations
                        </div>
                        <div class="card-body">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">Arndale Centre</a>
                                <a href="#" class="list-group-item list-group-item-action">Etihad Stadium</a>
                                <a href="#" class="list-group-item list-group-item-action">Apollo Theatre</a>
                                <a href="#" class="list-group-item list-group-item-action">Piccadilly Station</a>
                                <a href="#" class="list-group-item list-group-item-action">Victoria Station</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>